*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: black;
}
/* general */
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bold{
  font-weight: bold;
}
.brd_grey{
  border-bottom: 1px solid lightgrey;
}
/* background + wrapper style */
.wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: red;
}
.bar{
  width: 100%;
  height: 20%;
  background-color: green;
}
.main_bckg{
  width: 100%;
  height: 80%;
  background-color: lightgrey;
}
.lista_icone{
  margin-right: 15px;
  margin-top: 25px;
}
.lista_icone li{
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}
.lista_icone li a{
 color: #A1A6A8;
}

/* main container */
.container{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

/* navbar ricerca conversazioni */
.ricerca_mex{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 80px);
  background-color: coral;
}
.first_bar{
  position: fixed;
  top:0;
  left:0;
  width: 300px;
  height: 80px;
  border-right: 1px solid lightgrey;
  background-color: #EDEDED;
}
.fist_bar::after{
  content: "";
  clear: both;
  display: table;
}
.sx{
  width: 300px;
  height: 100%;
  border-right: 1px solid lightgrey;
}
.avatar{
  height: 50px;
  margin-left: 10px;
  margin-top: 13px;
  border-radius: 50%;
}
.chat_data{
  width: 100%;
  height: 80px;
  padding-left: 300px;
  background-color: #EDEDED;
}
.chat_data::after{
  content: "";
  clear: both;
  display: table;
}
/* notifiche */

.notification{
  height: 80px;
  background-color: #9de1fe;
  align-items: center;
  justify-content: center;
}
.alert{
  border-radius: 50%;
  background-color: white;
  padding:10px;
}
.alert a{
  text-decoration: none;
  color: #9de1fe;
}
.abilita{
  margin-left: 15px;
  line-height: 10px;
}
.abilita:first-child{
  font-weight: bold;
}
.abilita p a{
color: grey;
font-size: 13px;
}

/* cerca */
.ricerca{
  height: 30px;
  background-color: #F8F8F8;
}
.barra_ricerca{
  width: 90%;
  height:25px;
  border-radius: 10px;
  border: 1px solid white;
}

.lista_chat{
  width: 300px;
  height: calc(100% - 110px);
  overflow-x: hidden;
  overflow-y: visible;
}
/* lista messaggi */
.lista_messaggi{
  flex-direction: column;
}
.lista_messaggi li{
  list-style: none;
}
.chatbox{
  flex-direction: row;
  /* justify-content: space-around; */
  width: 300px;
  height: 65px;
  background-color: white;
}
.info_utente{
 margin-right: 100px;
 margin-left: 20px;
}
.icona{
  height: 50px;
  border-radius: 50%;
}
.orario{
  padding-bottom: 17px;
  font-size: 10px;
  color: #8C8C8C;
}
.preview{
  margin-top: 3px;
  font-size: 13px;
  color: #8C8C8C;
}
/* main */
.main_content{
  height: calc(100% - 80px);
  /* padding-left: 390px;
  padding-right: 90px;
  padding-bottom: 60px; */
  padding: 40px 90px 60px 390px;
  overflow-x: hidden;
  overflow-y: visible;
  background-image: url(../img/mine.jpg);
}
#messaggio_utente_template{
  width: 150px;
  margin-bottom: 5px;
  margin-left:calc(100% - 150px);
  border-radius: 5px;
  padding: 5px;
  background-color: #DCF8C6;
}
#messaggio_utente_template span,
#messaggio_contatto_template span{
  margin-left: 115px;
  font-size: 11px;
  color: #8C8C8C;
}
#messaggio_contatto_template{
  width: 150px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #FFFFFF;
}

/* footer_chat */
.footer_chat{
  position: fixed;
  justify-content: space-between;
  padding: 0 20px;
  bottom: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 60px;
  background-color: #F0F0F0;
}
#input_messaggio{
  width: 90%;
  height:40px;
  border-radius: 20px;
  border: 1px solid white;
}
.barra_messaggio_bottom{
  flex-grow: 2;
  text-align: center;
}
.icona_bottom{
  font-size: 25px;
  color: #A1A6A8;
}

/* finestra di chat */
/* .finestra_mex{
  height: 100%;
  background-color: pink;
}
.chat_footer{
  position: fixed;
  bottom: 0;
  right:0;
  height: 20%;
  width: 70%;
  background-color: brown;
} */
