*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: black;
}
/* general */
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bold{
  font-weight: bold;
}

.hidden{
  display:none;
}
.brd_grey{
  border-bottom: 1px solid lightgrey;
}
/* background + wrapper style */
.wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(0,159,105);
  background: linear-gradient(180deg, rgba(0,159,105,1) 20%, rgba(0,159,105,1) 20%, rgba(224,224,224,1) 20%);
}
.bar{
  width: 100%;
  height: 20%;
  background-color: green;
}
.main_bckg{
  width: 100%;
  height: 80%;
  background-color: lightgrey;
}
.lista_icone{
  margin-right: 15px;
  margin-top: 25px;
}
.lista_icone li{
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}
.lista_icone li a{
 color: #A1A6A8;
}

/* main container */
.container{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

/* navbar ricerca conversazioni */
.ricerca_mex{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 80px);
  background-color: white;
}
.first_bar{
  position: fixed;
  top:0;
  left:0;
  width: 300px;
  height: 80px;
  border-right: 1px solid lightgrey;
  background-color: #EDEDED;
}
.fist_bar::after{
  content: "";
  clear: both;
  display: table;
}
.sx{
  width: 300px;
  height: 100%;
  border-right: 1px solid lightgrey;
}
.avatar{
  height: 50px;
  margin-left: 10px;
  margin-top: 13px;
  border-radius: 50%;
}
.avatar_utente{
  height: 50px;
  margin-left: 10px;
  margin-top: 13px;
  border-radius: 50%;
}
.chat_data{
  width: 100%;
  height: 80px;
  padding-left: 300px;
  background-color: #EDEDED;
}
.chat_data::after{
  content: "";
  clear: both;
  display: table;
}
.nome_utente_chat{
padding-left: 10px;
padding-top: 15px;
line-height: 10px;
}
.ultimo_accesso{
  font-size: 12px;
}
/* notifiche */

.notification{
  height: 80px;
  background-color: #9de1fe;
  align-items: center;
  justify-content: center;
}
.alert{
  border-radius: 50%;
  background-color: white;
  padding:10px;
}
.alert a{
  text-decoration: none;
  color: #9de1fe;
}
.abilita{
  margin-left: 15px;
  line-height: 10px;
}
.abilita:first-child{
  font-weight: bold;
}
.abilita p a{
color: grey;
font-size: 13px;
}

/* cerca */
.ricerca{
  height: 30px;
  background-color: #F8F8F8;
}
.input.flex{
display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80%;
  margin: auto;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}
.barra_ricerca{
  width: 100%;
  height:25px;
  border-radius: 10px;
  border: 1px solid white;
}
.icona_ricerca{
  border-radius: 10px;
  border: 1px solid white;
  color:#A1A6A8;
  margin-left: 0;
  margin-right: 10px;
}

.lista_chat{
  width: 300px;
  height: calc(100% - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
}
/* lista messaggi */
.lista_messaggi{
  flex-direction: column;
}
.lista_messaggi li{
  list-style: none;
}
.chatbox{
  flex-direction: row;
  width: 300px;
  height: 65px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}
.chatbox:hover {
    background-color: lightgray;
    cursor: pointer;
}
.info_utente{
 margin-right: 100px;
 margin-left: 20px;
}
.icona{
  height: 50px;
  border-radius: 50%;
}
.orario{
  padding-bottom: 17px;
  font-size: 10px;
  color: #8C8C8C;
}
.preview{
  margin-top: 3px;
  font-size: 13px;
  color: #8C8C8C;
}
/* main */
.main_content{
  display: none;
  height: calc(100% - 80px);
  padding: 40px 90px 60px 390px;
  overflow-y: scroll;
  background-image: url(../img/mine.jpg);
}
.active {
  display: block;
}

.messaggio {
  position: relative;
  min-width: 150px;
  max-width: 60%;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  color: #8C8C8C;

  border-radius: 5px;
}
.opzioni_messaggio:hover{
  cursor: pointer;
}
.menu_messaggio{
  position: absolute;
  width: 150px;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 2px 2px;
  background-color: white;
  transform: translate(-5%, 50%);
}
.menu_messaggio p{
  padding: 8px;
}
.menu_messaggio p a{
  text-decoration: none;
    color: black;
}
.ora_messaggio{
  font-size: 10px;
}
.messaggio_top {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.messaggio_bottom {
  text-align: right;
}
.messaggio.inviato {
  float: right;
  clear: both;
  background-color: #DCF8C6;
}

.messaggio.ricevuto {
  float: left;
  clear: both;
  background: #FFFFFF;
}

/* footer_chat */
.footer_chat{
  position: fixed;
  justify-content: space-between;
  padding: 0 20px;
  bottom: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 60px;
  background-color: #F0F0F0;
}
#input_messaggio{
  width: 90%;
  height:40px;
  border-radius: 20px;
  border: 1px solid white;
}
.barra_messaggio_bottom{
  flex-grow: 2;
  text-align: center;
}
.icona_bottom{
  font-size: 25px;
  color: #A1A6A8;
}
