*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  background-color: black;
}

/* background + wrapper style */
.wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: red;
}
.bar{
  width: 100%;
  height: 20%;
  background-color: green;
}
.main_bckg{
  width: 100%;
  height: 80%;
  background-color: lightgrey;
}

/* main container */
.container{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: yellow;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
/* navbar ricerca conversazioni */
.ricerca_mex{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 80px);
  background-color: coral;
  overflow-x: hidden;
  overflow-y: visible;
}
.navbar{
  width: 100%;
  height: 80px;
  background-color: blue;
}
.navbar::after{
  content: "";
  clear: both;
  display: table;
}
.sx{
  background-color: red;
  width: 300px;
  height: 100%;
}
.dx{
  background-color: black;
  width: calc(100% - 300px);
  height: 100%;
}

/* main */
.main_content{
  height: calc(100% - 140px);
  padding-left: 300px;
  padding-right: 20px;
  padding-bottom: 60px;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: lightblue;
}

/* footer_chat */
.footer_chat{
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 60px;
  background-color: lightgreen;
}

/* finestra di chat */
/* .finestra_mex{
  height: 100%;
  background-color: pink;
}
.chat_footer{
  position: fixed;
  bottom: 0;
  right:0;
  height: 20%;
  width: 70%;
  background-color: brown;
} */
